@{
    ViewBag.Title = "الرئيسية";
}

<!-- Main Slider -->
@Html.Partial("_SliderPartial")

<!-- Recent News -->
@Html.Partial("_RecentPartial")

<!-- Most Seen -->
@Html.Partial("_SeenPartial")

<!-- Sport Block -->
@Html.Partial("_EconomyPartial")

<!-- Arabic news -->
@Html.Partial("_ArabicPartial")


<!-- Videos -->
@*@Html.Partial("_VideoPartial")*@


<!-- Photos -->
@*<section class="section">
        <div class="row">
            <div class="col l12 col m12 col s12">
                <!-- Thumbnail Slider -->
                <div class="thumbnail-slider z-depth-1">
                    <!-- Thumbnail Slider Category -->
                    <ul class="tabs">
                        <li class="tab"><a class="active" href="#News-category1">معرض الصور</a></li>
                        <li class="tab"><a href="#News-category2">Snapshot</a></li>
                        <li class="tab"><a href="#News-category3">Terrorist Attack Donbass</a></li>
                        <li class="tab"><a href="#News-category4">Prince Charles and Camilla visit the U.S.</a></li>
                        <li class="tab"><a href="#News-category5">Your Take: Readers Photos of the Aurora Borealis</a></li>
                    </ul>
                    <div id="News-category1">
                        <div class="camera_wrap camera_magenta_skin" id="camera_wrap_1">
                            <div data-thumb="http://www.elbalad.news/upload/photo/news/338/4/270x140o/83.jpg" data-src="http://www.elbalad.news/upload/photo/news/338/4/270x140o/83.jpg">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://masralarabia.com/images/news/c27b9be6eba72c014dbe9ab0196d7a2a.JPG" data-src="http://masralarabia.com/images/news/c27b9be6eba72c014dbe9ab0196d7a2a.JPG">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                            <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                                <div class="camera_caption fadeFromBottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@